

.container{
  width: 100%;
  max-width: 550px;
}

form{
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

form h1{
  margin-bottom: 30px;
  color: #111;
}

.input_group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input_group label{
  margin-bottom: 8px;
  color: #444;
}

.input_group input,
.input_group select{
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.buttons{
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-top: 25px;
}

.btn_cancelar{
  background: #ddd;
  color: #333;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 10px;
}

.btn_salvar{
  background: #0b63d8;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  cursor: pointer;
}