
.pagina:hover{
    background: #202ec7;
}

.pagina:hover a{
    color: white;
}

.pagina:hover svg{
    fill: white;
}

.active{
    background: #202ec7;
}

.active a{
    color: white;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.topo h1{
    font-size: 40px;
    color: #111;
}

.topo p{
    color: #777;
    margin-top: 8px;
}

.btn_add{
    background: #202ec7;
    color: white;
    text-decoration: none;
    padding: 14px 22px;
    border-radius: 10px;
    font-weight: bold;
}


/* TABELA */

.table_container{
    background: white;
    padding: 30px;
    border-radius: 18px;
}

.table_top{
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background: #f4f4f4;
    padding: 18px;
    text-align: left;
}

td{
    padding: 18px;
    border-bottom: 1px solid #eee;
}

/* STATUS */

.status{
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.status.disponível{
    background: #dff8e8;
    color: #2ecc71;
}

.status.ocupado{
    background: #ffe5e5;
    color: #ff3b30;
}

.status.manutenção{
    background: #f3e5ff;
    color: #9b59b6;
}

/* AÇÕES */

.acoes{
    display: flex;
    gap: 10px;
}

.btn_editar{
    background: #202ec7;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.btn_excluir{
    background: #ff3b30;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}