<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Quarto</title>

  <link rel="stylesheet" href="../static/css/form_quarto.css">

</head>
<body>

  <div class="container">

    <form action="/edit_quarto/{{ quarto.id }}" method="post">

      <h1>Editar Quarto</h1>

      <div class="input_group">

        <label>Número do Quarto</label>

        <input type="text" name="numero" value="{{ quarto.numero }}" required>

      </div>

      <div class="input_group">

        <label>Tipo</label>

        <select name="tipo" required>

        <option value="Solteiro"
            {% if quarto.tipo == 'Solteiro' %} selected {% endif %}>
            Solteiro
        </option>

        <option value="Casal"
            {% if quarto.tipo == 'Casal' %} selected {% endif %}>
            Casal
        </option>

        <option value="Luxo"
            {% if quarto.tipo == 'Luxo' %} selected {% endif %}>
            Luxo
        </option>

        <option value="Suíte"
            {% if quarto.tipo == 'Suíte' %} selected {% endif %}>
            Suíte
        </option>

        <option value="Master"
            {% if quarto.tipo == 'Master' %} selected {% endif %}>
            Master
        </option>

        </select>

      </div>

      <div class="input_group">

        <label>Valor da Diária</label>

        <input type="number" step="0.01" name="valor_diaria" value="{{ quarto.valor_diaria }}" required>

      </div>

      <div class="input_group">

        <label>Status</label>

        <select name="status">

          <option value="Disponível" {% if quarto.status == 'Disponível' %} selected {% endif %}>
            Disponível
          </option>

          <option value="Ocupado" {% if quarto.status == 'Ocupado' %} selected {% endif %}>
            Ocupado
          </option>

          <option value="Manutenção" {% if quarto.status == 'Manutenção' %} selected {% endif %}>
            Manutenção
          </option>

        </select>

      </div>

      <div class="buttons">

        <a href="/quartos" class="btn_cancelar">

          Cancelar

        </a>

        <button type="submit" class="btn_salvar">

          Atualizar

        </button>

      </div>

    </form>

  </div>

</body>
</html>